html {
  box-sizing: border-box!important;
}

body {
      font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}

nav {
  background-color: #f49842 ;
 }
 .navbar-header h1{
 	color: #e5307b;
 	 font-family: 'Handlee', cursive;

 }

.navbar-brand {
   color: #bc9e85!important; 
   font-size: 1.6em;
   font-family: 'Handlee', cursive;
   padding-top: 18px;

 }
 .nav.navbar-nav.navbar-right li a {
   color: #e5307b;
   font-family: 'Handlee', cursive;
   padding-top: 18px;
   font-size: 1.3em;
   align-items: center;
}
 #about {
    padding-top: 100px;
    padding-bottom:50px;
    text-align: center;
    color: white;
    height: 650px;
    background-image: url('https://images.pexels.com/photos/433604/pexels-photo-433604.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: cover;
 }
#about img{
float: right;
width: 300px;
height: 300px;
border-radius: 20px;
}

#about h3 {
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  font-family: 'Handlee', cursive;
  text-align: left;
  color: black;
  font-size: 50px;
}

#about p {
  font-size: 20px;
  font-weight: 300px;
  margin-left: 20px;
text-align: left;
padding-right: 690px;
}
.info {
	color: #e5307b;
    float: left;
    height: 250px;
    margin: 1.5em;
    width: 250px;
    transform: perspective(500px);
    transform-style: preserve-3d;
    transition:1.5s;
}
.info:hover {
    transform: perspective(500px) rotateX(90deg)  ;
}
.info-2 {
    background-color: #efcc73;
    color: #e5307b;
    padding: 1.5em;
    transform: rotateX(-90deg);
    transform-origin: 100% 0;
    transition: 1.5s;
}
.info:hover .info-2 {
    box-shadow: 0 20px 15px -10px hsla(0,0%,0%,.25);
}
h3 {
    font-weight: bold;
}​
.info h2{
	color: #e5307b;
}


/*#portfolio img {
  height: 200px;
  display: block;
  margin: auto;
}

/*#portfolio h3 {
  text-decoration: underline;
  margin-bottom: 40px;
  margin-top: 50px;
  padding-left: 40px;
}

/*#portfolio .portfolio-piece {
  border: 1px solid white;
  display: block;
  width: 250px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: auto ;
  margin-right: auto ;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 90%;
}

#contact {
  background-color: #D4F09E
  /* background-color: rgb(162, 247, 101); */
  
#project {
  background: rgb(247, 247, 247);
  font-family: 'Handlee', cursive;
  display: flex;
  justify-content: space-around;
}


#project img {
  height: 200px;
  display: block;
  margin: auto;
}


#project h3 {
  text-decoration: underline;
  margin-bottom: 40px;
  margin-top: 50px;
  padding-left: 40px;
}

#project .my-project {
  border: 1px solid white;
  display: block;
  width: 250px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: auto ;
  margin-right: auto ;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 90%;
} 

#contact p {
  font-size: 14px;
  padding-left: 40px;
  padding-top: 20px;
  
}

#contact .social-media-buttons > li {
  padding: 0px;
  text-align: center;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
 
}

#contact ul {
  margin-bottom: 20px;
  margin-top: 20px;
}

#contact  i {
  font-size: 18px;
  color: #e5307b;
  }

#contact li i {
  font-size: 40px;
  color: #e5307b;
}

#contact  a {
  color: black;
  padding-bottom: 2px;
  margin-top: 15px;
  color: #e5307b;
}

footer {
  text-align: center;
  font-size: 10px;
  color: #e5307b;
}